body{
    background-color: rgb(102, 114, 108);
    border-color: white;
    border-width: 15%;
}

.root{
    display: flex;
    align-content: center;
    border: 10pt;
    border-color: black;
}

h2{
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 30pt;
    margin-top: 10px;
    text-shadow: 10%;
    text-emphasis: 7;
    text-justify: newspaper;
}

.name{
    align-items: center;
}

.profile-pic{
    display: inline-block;
    align-content: center;
    margin-bottom: 20pt;
    padding-left: 10%;
    border-width: 10px;
}

.avatar{
    width: 50%;
    height: 50%;
}

.profile{
    display: grid;
    grid-auto-rows: auto;
    row-gap: 10pt;
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 15pt;
}

#repos{
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 13pt;
    border: 5px;
}

h3{
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-decoration: underline;
}

.a{
    font-family: 'Permanent Marker', cursive;
    color: black;
}