body{
    background-color: rgb(94, 121, 107);
}

.root{
    justify-content: center;
}

.name {
    font-family: 'Permanent Marker';
    font-size: 25pt;
    text-align: center;
    margin: 5pt;
}

.username {
    font-family: 'Permanent Marker';
    font-size: 30pt;
    text-align: center;
    text-decoration: underline;
    margin: 5pt;
}

.location{
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 15pt;
    margin: 5pt;
}

.followers {
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 15pt;
    margin: 5pt;
}

.following{
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 15pt;
    margin: 5pt;
}

img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 50%;
    max-height: 50%;
    border-radius: 15%;
}

.website{
    font-family: 'Permanent Marker';
    text-align: center;
}


.repos{
    font-family: 'Acme'; sans-serif;
}